In [3]:
import pandas as pd

base_path = "/home/vishal/datasets/exams/Infrrd/"
train_path = base_path+ "train.csv"
test_path = base_path +"test.csv"

dataset = pd.read_csv(train_path)
dataset.head()

  purchasing_cost repair_cost windows people   space safety         label
0            high   very_high   5more   more  medium    med  unacceptable
1       very_high      medium       4   more     big    low  unacceptable
2          medium      medium   5more      4  medium    low  unacceptable
3            high        high       2   more  medium   high    acceptable
4            high   very_high   5more      2     big   high  unacceptable

In [54]:
#dataset.dtypes
#dataset.shape   (1382, 7)
#dataset.describe()

#dataset['purchasing_cost'].value_counts(dropna =False)
#dataset['repair_cost'].value_counts(dropna =False)
#dataset['windows'].value_counts(dropna =False)
#dataset['people'].value_counts(dropna =False)
#dataset['space'].value_counts(dropna =False)
#dataset['safety'].value_counts(dropna =False)
dataset['label'].value_counts(dropna =False)     # Observation 1: Data is not balanced

unacceptable    974
acceptable      298
very_good        56
good             54
Name: label, dtype: int64

In [55]:
# Level encoders:
#from sklearn import preprocessing

def encoder(val, values_dict):
    return values_dict[val]
    
pc_dict = {'low': 1, 'medium': 2, 'high': 3, 'very_high': 4}
dataset['pc'] = dataset['purchasing_cost'].apply(encoder,  args = (pc_dict,))

rc_dict = {'low': 1, 'medium': 2, 'high': 3, 'very_high': 4}
dataset['rc'] = dataset['repair_cost'].apply(encoder,  args = (rc_dict,))

windows_dict = {'2': 2, '3': 3, '4': 4, '5more': 5}
dataset['win'] = dataset['windows'].apply(encoder,  args = (windows_dict,))

ppl_dict = {'2': 2, '4': 4, '4': 4, 'more': 6}
dataset['ppl'] = dataset['people'].apply(encoder,  args = (ppl_dict,))

space_dict = {'small': 1, 'medium': 2, 'big': 3}
dataset['spc'] = dataset['space'].apply(encoder,  args = (space_dict,))

safety_dict = {'low': 1, 'med': 2, 'high': 3}
dataset['sfty'] = dataset['safety'].apply(encoder,  args = (safety_dict,))

label_dict = {'unacceptable': 1, 'acceptable': 2, 'good': 3, 'very_good': 4}
dataset['lbl'] = dataset['label'].apply(encoder,  args = (label_dict,))

dataset.head()

,purchasing_cost,repair_cost,windows,people,space,safety,label,pc,rc,win,ppl,spc,sfty,lbl
0,high,very_high,5more,more,medium,med,unacceptable,3,4,5,6,2,2,1
1,very_high,medium,4,more,big,low,unacceptable,4,2,4,6,3,1,1
2,medium,medium,5more,4,medium,low,unacceptable,2,2,5,4,2,1,1
3,high,high,2,more,medium,high,acceptable,3,3,2,6,2,3,2
4,high,very_high,5more,2,big,high,unacceptable,3,4,5,2,3,3,1

In [78]:
from sklearn.model_selection import train_test_split

X = dataset[['pc', 'rc', 'win', 'ppl', 'spc', 'sfty']]
y = dataset['lbl']

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.20,  random_state=0)

X_train.head()

      pc  rc  win  ppl  spc  sfty
942    1   1    3    2    2     1
938    4   3    3    4    1     3
1154   2   4    5    6    3     2
1064   4   3    3    6    3     3
692    1   2    3    4    2     2

In [91]:
# Random forest

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)
y_train_pred = clf.predict(X_train)

clf.score(X_train, y_train)

clf.score(X_test,y_test)

clf.feature_importances_

array([0.01532344, 0.11439009, 0.00426268, 0.36559312, 0.03601428,
       0.46441639])

array([[767,   0,   0,   0],
       [244,   0,   0,   0],
       [ 45,   0,   0,   0],
       [ 49,   0,   0,   0]])